<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opendata API 線上說明文件</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/dist/plugins/swagger/swagger-ui.css" >
  <link rel="icon" type="image/png" href="/dist/plugins/swagger/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/dist/plugins/swagger/favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="/dist/static/od-swagger/od-swagger.css" >
</head>

<body>


<div id="swagger-ui"></div>

<script src="/dist/plugins/swagger/swagger-ui-bundle.js"> </script>
<script src="/dist/plugins/swagger/swagger-ui-standalone-preset.js"> </script>
<script src="/dist/static/od-swagger/od-swagger.js"></script>
</body>

</html>
