{"generalSituation":"A broad trough of low pressure continues to bring thundery showers to the coast of Guangdong and the northern part of the South China Sea.","tcInfo":"At 8 p.m., the tropical depression over the seas east of the Philippines was centred about 290 kilometres east-northeast of Manila. It is forecast to move north-northwest slowly towards the vicinity of Luzon, then linger over the region.","fireDangerWarning":"","forecastPeriod":"Weather forecast for tonight and tomorrow","forecastDesc":"Mainly cloudy with occasional showers and thunderstorms. Showers will be heavy at times at first. Temperatures will range between 25 and 28 degrees tomorrow. Moderate south to southeasterly winds, fresh offshore at first.","outlook":"There will still be showers and thunderstorms at first on Tuesday. Sunny intervals in the following couple of days. Very hot in the latter part of this week.","updateTime":"2026-08-02T20:45:00+08:00"}