<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Index of /data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r01/access/csv/</title>
</head>
<body>
<h1>Index of /data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r01/access/csv/</h1>
<table><tbody>
<tr>
<th>Name</th>
<th>Last modified</th>
<th>Size</th>
<th>Description</th>
</tr>
<tr><th colspan="4"><hr></th></tr>
<tr>
<td><a href="..">Parent Directory</a></td>
<td> </td>
<td align="right">-</td>
<td> </td>
</tr>
<tr>
<td><a href="IBTrACS_SerialNumber_NameMapping_v04r01_20260728.txt">IBTrACS_SerialNumber_NameMapping_v04r01_20260728.txt</a></td>
<td align="right">2026-07-28 11:30</td>
<td align="right">971818</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.ACTIVE.list.v04r01.csv">ibtracs.ACTIVE.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:54</td>
<td align="right">106804</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.ALL.list.v04r01.csv">ibtracs.ALL.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">330708486</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.EP.list.v04r01.csv">ibtracs.EP.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">46469695</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.NA.list.v04r01.csv">ibtracs.NA.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">57110048</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.NI.list.v04r01.csv">ibtracs.NI.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">27767608</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.SA.list.v04r01.csv">ibtracs.SA.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">56442</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.SI.list.v04r01.csv">ibtracs.SI.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">77540347</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.SP.list.v04r01.csv">ibtracs.SP.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">35482417</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.WP.list.v04r01.csv">ibtracs.WP.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">114013287</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.last3years.list.v04r01.csv">ibtracs.last3years.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">9589343</td>
<td> </td>
</tr>
<tr>
<td><a href="ibtracs.since1980.list.v04r01.csv">ibtracs.since1980.list.v04r01.csv</a></td>
<td align="right">2026-07-28 08:55</td>
<td align="right">143103740</td>
<td> </td>
</tr>
<tr><th colspan="4"><hr></th></tr>
</tbody></table>
<script id="_fed_an_ua_tag" type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOC&amp;subagency=NOAA"></script>
<script id="_fed_an_ua_tag" type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOC&subagency=NOAA"></script></body>
</html>
